html {
  /* background-image: url("./components/Nav/images/gradient3.jpg"); */
  font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    overflow: auto;
    padding: 3%;
}
